<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Стартовая страница</title>
    {%  include 'cars_rent_app/links.html' %}
    {% load crispy_forms_tags %}
</head>
<body>

    <div class="container">

        <div class="forms">

            <h2>Авторизация</h2>

            <form action="/login/" method="post">

                {% csrf_token %}

                {{ form|crispy }}

                <input class="my-button" type="submit" value="Войти">

            </form>

            <a class="reg-link" href="/registration/">Регистрация</a>
            
        </div>

    </div>

</body>
</html>